/*
    1. Templet Name: BACKPACK MOON
    2. Templet URL: https://*****.com
    3. Description: This is Backpack moon ecomerce website. It's help learn me to HTML, CSS, (Grid, Flex, Varticaly center, Harizontal Center, Position etc)
    4. Author: Abidur Niloy
    5. Author URL: https://www.facebook.com/Abidur.Niloy.DarkCoder/ 
    6. Support: Every single Brower
    7. Version: 0.0.1
 */
/* CSS Index
    1. Common CSS


    color: #363958(black), #76C27E(green), #FABE4C(orang), #2A1E59 similar color
CSS Index */
/* Common CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html,body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-rendering: optimizeLegibility;
    line-height: 1.5;

}
main{
    width: 100%;
    height: 100%;
    max-width: 90%;
    margin: 0 auto;
}
section{
    margin:10px;
    background-color: white;
    padding:15px
}
h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 5.5rem;
}
h5{
    font-size: 2.4rem;
}
p{
    color: #363958;
    font-size: 1.6rem;
    
    margin-bottom: 15px;
}
span{
    color: #76C27E;
}
.global-button{
    padding: 15px 25px;
    background-color: #2A1E59;
    border-radius: 25px;
    color: #fff;
    font-size:1.6rem;
}

/* Cover section css */
.cover-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}
.cover-info{
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto
}
.cover-img img{
    width: 100%;
}
/* Fit section CSS   */
.fit-section-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}
.fit-section-img img{
    width: 100%;
}

.fit-section-info-card{
    display: flex;
    padding-right: 10px;
    margin: 15px;
    padding:10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.fit-section-info-card img{
    width:80px;
    height: 80px;;
}
.card-1-description {
    margin: 0 15px;
}

/* Responsive Media query  */
/* Mobile devices */
@media screen and (max-width: 320px) and (min-width: 480px) {
    
  }
/*  iPads, Tablets */
@media screen and (max-width: 481px) and (min-width: 768px) {
    
}

/* Small screens, laptops */
@media screen and (max-width: 769px) and (min-width: 1024px) {
    
}
/* Desktops, large screens */
@media screen and (max-width: 1025px ) and (min-width: 1200px) {
    
}
/* Extra large screens, TV */
@media screen and (min-width: 1201px ) {
    
}